This is basically a DOCO saying what you'll require
to (R)UN it on any of the various systems ... and
what will be required to (C)OMPILE it on them :)

All Platforms
(c) zlib library


Win32
(c) msvc preferably v6 or above, or borland c++ builder v4
(c) for compiling ace with borland on win9x, need an NT like cmd,
	(4nt for example) also need to modify
	$ACE_ROOT\include\makeinclude\outputdir.bor and change mkdir
	to mkdir /s also you need to use the -DPASCAL flag when making
	for magick to link to ace properly.
Note: bcc5.5 can now be obtained for free from 


General UNIX
(c) gcc 2.95 or above
(c) a threads library
(c) zlib library


Linux
(r) glibc 2.1 or above


FreeBSD
(r) pthreads patch for FreeBSD v3.4 or FreeBSD v4.0 or above.


SunOS
